{template 'common/header'}
{if $op == 'display'}
<div class="main">
	<ul class="nav nav-tabs">
		<li {if $_GPC['do'] == 'membercard'}class="active"{/if}><a href="{php echo $this->createWeburl('membercard', array('op' => 'display'))}">会员卡设置</a></li>
		<li {if $_GPC['do'] == 'signmanage'}class="active"{/if}><a href="{php echo $this->createWeburl('signmanage', array('op' => 'sign-credit'))}">签到管理</a></li>
		<li {if $_GPC['do'] == 'noticemanage'}class="active"{/if}><a href="{php echo $this->createWeburl('noticemanage', array('op' => 'notice_list'))}">通知管理</a></li>
	</ul>
	<div id="app">
		{{ message }}
	</div>
</div>
<script type="text/javascript">
require({
	paths: {
		'vue' : '/addons/wn_storex/template/style/js/vue.min'
	}
})
require(['vue'], function(Vue) {
	var app = new Vue({
	  el: '#app',
	  data: {
	    message: 'Hello Vue!'
	  }
	})
})
</script>

{/if}
{template 'common/footer'}
