<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1,user-scalable=0"><title>vux</title><link href=../addons/We7_storex/template/style/mobile/css/app.d01f811b716191dcc70e54c9b493d7d1.css rel=stylesheet></head><body><div id=app-box></div><script>var config = {
			unacid: '281',
			Tabbar: ['/', '/Category', '/Home'],
			url : {
				'usercenter' : "{php echo $this->createMobileurl('usercenter', array('op' => 'personal_info'))}"
			}
		}</script><script type=text/javascript src=../addons/We7_storex/template/style/mobile/js/manifest.cf54486f5d36ae235003.js></script><script type=text/javascript src=../addons/We7_storex/template/style/mobile/js/vendor.710d6487939572f7af0a.js></script><script type=text/javascript src=../addons/We7_storex/template/style/mobile/js/app.b888f061de1d18640a77.js></script></body></html>