{template 'common/header-base'}
{template 'common/common'}
<aside class="wn-aside clearfix">
	{if !empty($aside_show)}
	<div class="wn-aside__back"><a href="{php echo $this->createWebUrl('storemanage', array('op' => 'list'))}"> <i class="fa fa-backward"></i>返回主模块 ({$_W['wn_storex']['store_info']['title']})</a></div>
	{if !($_GPC['do'] == 'shop_settings' && $_GPC['op'] == 'post' && $_GPC['action'] == 'add')}
	<nav class="wn-aside__menu">
		<img src="{php echo tomedia($_W['wn_storex']['store_info']['thumb'])}" alt="" class="wn-aside__logo">
		<ul class="wn-aside__nav">
			{loop $aside_nav $key $nav}
			<li class="wn-aside__nav__item {if in_array($_GPC['do'], $nav['active'])}wn-aside__nav__item--active{/if}"><a href="{$nav['url']}"><i class="{$nav['icon']}"></i>{$nav['title']}</a></li>
			{/loop}
		</ul>
	</nav>
	{/if}
	<nav class="wn-aside__submenu" style="display:none;">
		<div class="wn-aside__title">设置</div>
		<ul class="wn-aside__sub">
			<li class="wn-aside__sub__item wn-aside__sub__item--active"><a href="">设置1</a></li>
			<li class="wn-aside__sub__item"><a href="">设置2</a></li>
			<li class="wn-aside__sub__item"><a href="">设置设置设置3</a></li>
			<li class="wn-aside__sub__item"><a href="">设置设置设置设置4</a></li>
			<li class="wn-aside__sub__item"><a href="">设置设置设置设置设置5</a></li>
		</ul>
	</nav>
	{/if}
</aside>
