<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>首页</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="http://m.sui.taobao.org/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../resource/css/light7.min.css">
		<link rel="stylesheet" href="../resource/css/iconfont.css" />
		<link rel="stylesheet" href="../resource/css/manage.css" />
	</head>
	<body>
		<div class="page" id="page-manage-store">
			<header class="bar bar-nav common-bar-nav">
				<h1 class="title">选择店铺</h1>
			</header>
			<div class="content">
				<ul class="store-list">
					<li>
						<a href="javascript:;">
							<div class="store-pic"><img src="http://pic.to8to.com/attch/day_160218/20160218_d968438a2434b62ba59dH7q5KEzTS6OH.png" alt=""></div>
							<div class="store-info">
								我的店铺
								<i class="fa fa-arrow_up"></i>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="store-pic"><img src="http://pic.to8to.com/attch/day_160218/20160218_d968438a2434b62ba59dH7q5KEzTS6OH.png" alt=""></div>
							<div class="store-info">我的店铺</div>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="store-pic"><img src="http://pic.to8to.com/attch/day_160218/20160218_d968438a2434b62ba59dH7q5KEzTS6OH.png" alt=""></div>
							<div class="store-info">我的店铺</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<script type='text/javascript' src='../resource/js/jquery-2.2.1.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='../resource/js/light7.min.js' charset='utf-8'></script>
		<script type="text/javascript" src="../resource/js/light7-swiper.min.js"></script>
	</body>

</html>