{template 'store/common'}
<aside class="wn-aside clearfix">
	<nav class="wn-aside__menu">
		<img src="../addons/wn_storex/template/resource/image/logo.jpg" alt="" class="wn-aside__logo">
		<ul class="wn-aside__nav">
			<li class="wn-aside__nav__item wn-aside__nav__item--active"><a href=""> <i class="fa fa-search"></i> 设置1</a></li>
			<li class="wn-aside__nav__item"><a href=""><i class="fa fa-search"></i>设置设置2</a></li>
			<li class="wn-aside__nav__item"><a href=""><i class="fa fa-search"></i>设置设置设置3</a></li>
			<li class="wn-aside__nav__item"><a href=""><i class="fa fa-search"></i>设置设置设置设置4</a></li>
			<li class="wn-aside__nav__item"><a href=""><i class="fa fa-search"></i>设置设置设置设置设置5</a></li>
		</ul>
	</nav>
	<nav class="wn-aside__submenu">
		<div class="wn-aside__title">设置</div>
		<ul class="wn-aside__sub">
			<li class="wn-aside__sub__item wn-aside__sub__item--active"><a href="">设置1</a></li>
			<li class="wn-aside__sub__item"><a href="">设置2</a></li>
			<li class="wn-aside__sub__item"><a href="">设置设置设置3</a></li>
			<li class="wn-aside__sub__item"><a href="">设置设置设置设置4</a></li>
			<li class="wn-aside__sub__item"><a href="">设置设置设置设置设置5</a></li>
		</ul>
	</nav>
</aside>