{template 'common/header-base'}
{template 'common/header-storex'}

<div class="wn-main wn-main--without">
	<div class="wn-main__head">概况</div>
	<div class="wn-main__content">
		<div class="wn-dashboard">
			<div class="wn-dashboard__order wn-flex">
				<div class="wn-flex__item">
					<p>营业总额</p>
					<span>￥121200120元</span>
				</div>
				<div class="wn-flex__item">
					<p>营业总额</p>
					<span>￥121200120元</span>
				</div>
				<div class="wn-flex__item">
					<p>营业总额</p>
					<span>￥121200120元</span>
				</div>
				<div class="wn-flex__item">
					<p>营业总额</p>
					<span>￥121200120元</span>
				</div>
			</div>
		</div>
	</div>
</div>