{template 'common/header-storex'}

<div class="wn-main wn-main--without">
	<div class="wn-main__head">应用</div>
	<div class="wn-main__content">
		<div class="wn-tabs">
			<div class="wn-tabs__item {if $op == 'roommanage'}wn-tabs__item--active{/if}">
				<a class="wn-tabs__link" href="{php echo $this->createWebUrl('shop_plugin_hotelservice', array('op' => 'roommanage', 'storeid' => $_GPC['storeid']))}">客房管理</a>
			</div>
			<div class="wn-tabs__item {if $op == 'telmanage'}wn-tabs__item--active{/if}">
				<a class="wn-tabs__link" href="{php echo $this->createWebUrl('shop_plugin_hotelservice', array('op' => 'telmanage', 'storeid' => $_GPC['storeid']))}">电话设置</a>
			</div>
			<div class="wn-tabs__item {if $op == 'room_goods'}wn-tabs__item--active{/if}">
				<a class="wn-tabs__link" href="{php echo $this->createWebUrl('shop_plugin_hotelservice', array('op' => 'room_goods', 'storeid' => $_GPC['storeid']))}">房间商品</a>
			</div>
		</div>
		{if $op == 'roommanage'}
		<div class="clearfix">
			<table class="table table-hover we7-table">
				<col />
				<col />
				<thead class="navbar-inner">
					<tr>
						<th>预约信息</th>
						<th>预约时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{loop $room_items $id $item}
					<tr>
						<td>
							{$item['info']}
						</td>
						<td>{php echo date('Y-m-d H:i:s', $item['time'])}</td>
						<td class="text-left">
							{if $item['status'] == 1}
							<a href="{php echo $this->createWebUrl('shop_plugin_hotelservice', array('op' => 'confirm', 'storeid' => $_GPC['storeid'], 'id' => $id))}" class="color-default">待确认</a>
							{elseif $item['status'] == 2}
							<a href="javascript:;">已确认</a>
							{/if}
						</td>
					</tr>
					{/loop}
				</tbody>
			</table>
		</div>
		{/if}
		{if $op == 'telmanage'}
		<div class="clearfix">
			<form class="form-horizontal form" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">前台电话</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id="tel" name="tel" class="form-control" value="{$tel_info['tel']}">
					</div>
				</div>
				<div class="form-group col-sm-12">
					<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
					<input type="hidden" name="token" value="{$_W['token']}" />
				</div>
			</form>
		</div>
		{/if}
		{if $op == 'room_goods'}
		<div class="modal fade" id="goods-modal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">添加商品</h4>
					</div>
					<div class="modal-body clearfix form-horizontal">
						<div class="form-group">
							<div class="col-sm-12 col-xs-12">
								<div class="input-group">
									<span class="input-group-addon">商品名称</span>
									<input type="text" name="title" value="" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12 col-xs-12">
								<div class="input-group">
									<span class="input-group-addon">商品价格</span>
									<input type="text" name="price" value="" class="form-control">
									<span class="input-group-addon">元</span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="goods_id">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary js-submit-goods">确定</button>
					</div>
				</div>
			</div>
		</div>
		<div class="wn-main__search__action">
			<a href="javascript:;" id="add_goods" class="btn btn-primary we7-padding-horizontal">+添加商品</a>
		</div>
		<div class="clearfix">
			<table class="table table-hover we7-table">
				<thead class="navbar-inner">
					<tr>
						<th>名称</th>
						<th>价格(元)</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{loop $goods_list $goods}
					<tr>
						<td>
							{$goods['title']}
						</td>
						<td>{$goods['price']}</td>
						<td class="text-left">
							{if $goods['status'] == 1}
							<a href="{php echo $this->createWebUrl('shop_plugin_hotelservice', array('op' => 'goods_status', 'storeid' => $_GPC['storeid'], 'id' => $goods['id'], 'status' => 2))}" class="color-default">上架中</a>
							{elseif $goods['status'] == 2}
							<a href="{php echo $this->createWebUrl('shop_plugin_hotelservice', array('op' => 'goods_status', 'storeid' => $_GPC['storeid'], 'id' => $goods['id'], 'status' => 1))}">已下架</a>
							{/if}
							<a href="javascript:;" class="color-default js-edit-goods" data-id="{$goods['id']}">编辑</a>
							<a href="{php echo $this->createWebUrl('shop_plugin_hotelservice', array('op' => 'goods_delete', 'storeid' => $_GPC['storeid'], 'id' => $goods['id']))}" class="color-default">删除</a>
						</td>
					</tr>
					{/loop}
				</tbody>
			</table>
		</div>
		<script type="text/javascript">
		$('#add_goods').click(function() {
			$('#goods-modal').modal('show');
		});
		$('.js-submit-goods').click(function() {
			title = $('input[name="title"]').val();
			price = $('input[name="price"]').val();
			id = $('input[name="goods_id"]').val();
			if (!title || !price || price < 0) {
				util.message('不能为空或负数', '', 'error');
				return;
			}
			$.post("{php echo $this->createWebUrl('shop_plugin_hotelservice', array('storeid' => $_GPC['storeid'], 'op' => 'room_goods'))}", {title : title, price : price, id : id}, function(data) {
				data = $.parseJSON(data);
				if (data.message.errno !=0) {
					util.message(data.message.message, '', 'error');
				} else {
					util.message('编辑成功', data.redirect, 'success');
					$('#goods-modal').modal('hide');
				}
			});
		});
		$('.js-edit-goods').click(function() {
			id = $(this).data('id');
			$('input[name="goods_id"]').val(id);
			$.post("{php echo $this->createWebUrl('shop_plugin_hotelservice', array('storeid' => $_GPC['storeid'], 'op' => 'goods_info'))}", {id : id}, function(data) {
				data = $.parseJSON(data);
				$('input[name="title"]').val(data.message.message.title);
				$('input[name="price"]').val(data.message.message.price);
				$('#goods-modal').modal('show');
			});
		});
		</script>
		{/if}
	</div>
</div>
{template 'common/footer-storex'}