{template 'common/header-storex'}
<div class="wn-main wn-main--without">
	<div class="wn-main__head">应用</div>
	<div class="wn-main__content">
		<div class="wn-plugin--list">
			<div class="wn-plugin--list__head">店铺应用</div>
			<div class="wn-plugin--list__list">
				<div href="" class="wn-plugin--list__item">
					<a href="">
						<img src="http://we7cloud-10016060.file.myqcloud.com/images/2017/06/29/14987341565954de4c960f6_OOo62Th1yz2t.jpg" alt="">
						打印订单
					</a>
				</div>
				<div href="" class="wn-plugin--list__item">
					<a href="">
						<img src="http://we7cloud-10016060.file.myqcloud.com/images/2017/06/23/1498209926594cde8684276_tdT2XkO1mj7s.jpg" alt="">
						1
					</a>
				</div>
				<div href="" class="wn-plugin--list__item">
					<a href="">
						<img src="http://we7cloud-10016060.file.myqcloud.com/images/2017/06/10/1497084025593bb079301f7_Qv33ddHQUD0P.jpg" alt="">
						1
					</a>
				</div>
				<div href="" class="wn-plugin--list__item">
					<a href="">
						<img src="http://we7cloud-10016060.file.myqcloud.com/images/2017/04/07/149153729258e70d8cbb5f2_qCjY6V0jDkh1.png" alt="">
						1
					</a>
				</div>
				<div href="" class="wn-plugin--list__item">
					<a href="">
						<img src="" alt="">
						1
					</a>
				</div>
				<div href="" class="wn-plugin--list__item">
					<a href="">
						<img src="" alt="">
						1
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
</script>

{template 'common/footer-storex'}