{template 'common/header-storex'}
<link rel="stylesheet" href="../addons/wn_storex/template/style/css/membercard.css">
{if $op == 'display'}
<style>
	.normal {
		background-color: grey;
	}
	.drag {
		background-color: green;
	}
	.dragArea {
		min-height: 10px;
	}

	.list-dragging {
		background-color: blue;
	}

	.target.ok {
		background-color: blue;
	}

	.target.ko {
		background-color: red;
	}

	.status {
		height: 10px;
	}

	.status .ok {
		background-color: green;
	}

	.status .ko {
		background-color: red;
	}

	.list-complete-item {
		padding: 4px;
		margin-top: 4px;
		border: solid 1px;
		height: 60px;
	}

	.list-complete-enter-active {
		overflow: hidden;
		transition: all 1s;
	}

	.list-complete-leave-active {
		margin-top: 0px;
		overflow: hidden;
		transition: all 1s;
	}

	.list-complete-enter, .list-complete-leave-to {
		height: 0px;
		opacity: 0;
		padding: 0px;
		margin-top: 0px;
		overflow: hidden;
	}

	.machine-contents {
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 5%;
		margin-right: 5%;
		/*width: 45%;*/
	}

	#areas {
		display: flex;
	}

	#columns {
		flex: 1;
	}

	#columns>.list {
		width: 40%;
		float: left;
	}

	.item {
		padding: 5px;
		background: #CCCCCC;
		border: 1px solid black;
	}
	.list>div {
		min-height: 400px;
	}


</style>
<div class="wn-main wn-main--without">
	<div class="wn-main__head">店铺设置</div>
	<div class="wn-main__content">
		<div class="" id="app">
			<div class="app">
				<div class="app-preview">
					<div class="app-header"></div>
					<div class="app-content">
						<div class="title"><h1><span>会员卡</span></h1></div>
						<div>
							<div class="weui-tab">
								<div class="machine-contents list">
									<draggable :list="modules.open" element="div" :options="{group:'a', animation:150}" :no-transition-on-drag="true" @start="drag=true" @end="drag=false">
										<transition-group :name="!drag? 'list-complete' : null" :css="true">
											<div v-for="(open, index) in modules.open" :key="open.name" class="list-complete-item">
												<div>
													{{ open.name }}
												</div>
												<div>
													<br>
													<button v-on:click="removeModule(index)">Remove</button>
												</div>
											</div>
										</transition-group>
									</draggable>
								</div>


							</div>
						</div>
					</div>
				</div>
				<div class="app-side">
					<div class="editor">
						<div class="machine-contents list">
							<draggable v-model="modules.close" :options="{group:'a', animation:150}" :no-transition-on-drag="true" @start="drag=true" @end="drag=false" element="div">
									<div v-for="(close, index) in modules.close" :key="close.name" class="list-complete-item">
										<div>
											{{ close.name }}
										</div>
										<div>
											<br>
											<button v-on:click="addModule(index)">add</button>
										</div>
									</div>
							</draggable>
						</div>
					</div>
				</div>

			</div>
	</div>
</div>
<script>
    require({
        paths: {
            'Vue': '/addons/wn_storex/template/style/js/vue',
            'sortablejs': '/addons/wn_storex/template/style/js/Sortable.min',
            'vuedraggable': '/addons/wn_storex/template/style/js/vuedraggable.min'
        }
    })
    require(['Vue', 'vuedraggable'], function (Vue, vuedraggable) {
        Vue.component('draggable', vuedraggable);
        var vm = new Vue({
            el: '#app',
            name: 'mfgActivity',
            data: {
                drag: false,
                modules: {
                    open: [
						{
							name: "搜索栏"
						},
                        {
                            name: "幻灯片"
                        },
						{
                            name: "公告"
						},
						{
                            name: "导航"
						},
                        {
                            name: "魔方"
                        },
                        {
                            name: "广告"
                        },
                        {
                            name: "商品推荐"
                        }
					],
                    close: []
                }
            },
            methods: {
                removeModule: function (index) {
                    var self = this;
                    // Remove job from GUI
					console.log(index)
                    self.modules.close.push(self.modules.open[index])
                    self.modules.open.splice(index, 1);
                },
                addModule: function (index) {
                    var self = this;
                    // Remove job from GUI
                    console.log(index)
                    self.modules.open.push(self.modules.open[index])
                    self.modules.close.splice(index, 1);
                }
            }
        })
    })
</script>
{/if}

{template 'common/footer-storex'}