{template 'common/header-storex'}
<div class="wn-main wn-main--without">
	<div class="wn-main__head"><a href="{php echo $this->createWebUrl('shop_order',array('op' => 'list', 'storeid' => $storeid));}">订单管理</a> / 订单编辑</div>
	<div class="wn-main__content">
		<!-- <ul class="nav nav-pills nav-justified step step-round">
			<li class="active">
				<a>2017-12-00</a>
			</li>
			<li class="active">
				<a>step2</a>
			</li>
			<li>
				<a>step3</a>
			</li>
		</ul> -->
		<table class="table table-bordered wn-table text-center">
			<tr>
				<th class="text-center">商品</th>
				<th class="text-center">数量</th>
				<th class="text-center">单价</th>
				<th class="text-center">小计</th>
			</tr>
			<tr>
				<td>{$room['title']}</td>
				<td>{$item['nums']}</td>
				<td>{$item['cprice']}</td>
				<td>{$item['sum_price']}</td>
			</tr>
		</table>
		<div class="wn-order">
			<div class="wn-order__detail form form-horizontal">
				<h4>订单信息</h4>
				<div class="form-group">
					<label class="col-sm-4 control-label">订单编号</label>
					<div class="col-sm-8 form-control-static">
						{$item['ordersn']}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">商户订单号</label>
					<div class="col-sm-8 form-control-static">
						{if !empty($item['uniontid'])}{$item['uniontid']}{else}暂无{/if}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">订单类型</label>
					<div class="col-sm-8 form-control-static">
						{if $store_type == STORE_TYPE_HOTEL}
						酒店订单{if isset($room['is_house']) && $room['is_house'] == 1} / 房型订单{else} / 普通订单{/if}
						{else}
						普通订单
						{/if}
					</div>
				</div>
				{if $store_type == STORE_TYPE_HOTEL && !empty($good_info) && $good_info['is_house'] == 1}
				<div class="form-group">
					<label class="col-sm-4 control-label">到店时间</label>
					<div class="col-sm-8 form-control-static">
						{php echo date("Y-m-d",$item['btime']);}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">离店时间</label>
					<div class="col-sm-8 form-control-static">
						{php echo date("Y-m-d",$item['etime']);}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">住几晚</label>
					<div class="col-sm-8 form-control-static">
						{$item['day']}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">房量/房态</label>
					<div class="col-sm-8 form-control-static">
						<select multiple="true" name="room_list" id="room_list" style="height:100px" class='form-control'>
							{loop $date_array $row}
							<option value="{$row['month']}-{$row['day']}|{$list[$row['time']]['status']}|{$list[$row['time']]['num']}">
								{$row['month']}-{$row['day']} --
								{if $list[$row['time']]['status'] == 1 && ($list[$row['time']]['num'] > 0 || $list[$row['time']]['num'] == '不限')}
								有房
								--
								{$list[$row['time']]['num']}
								{else}
								无房
								{/if}
							</option>
							{/loop}
						</select>
					</div>
				</div>
				{/if}
				<div class="form-group">
					<label class="col-sm-4 control-label">付款方式</label>
					<div class="col-sm-8 form-control-static">{$item['paytype_text']}</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">订单时间</label>
					<div class="col-sm-8 form-control-static">
						{php echo date("Y-m-d H:i:s",$item['time']); }
					</div>
				</div>
				<hr />
				<h4>用户信息</h4>
				<div class="form-group">
					<label class="col-sm-4 control-label">用户类型</label>
					<div class="col-sm-8 form-control-static">
						{if $member_info['isauto'] == 1}微信用户{else}会员用户{/if}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">联系人</label>
					<div class="col-sm-8 form-control-static">
						{$item['contact_name']}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">手机号</label>
					<div class="col-sm-8 form-control-static">
						{$item['mobile']}
					</div>
				</div>
				{if $store_type != STORE_TYPE_HOTEL}
				<div class="form-group">
					<label class="col-sm-4 control-label">配送方式</label>
					<div class="col-sm-8 form-control-static">
						{if $item['mode_distribute'] == 2}配送{else}自提{/if}
					</div>
				</div>
				{/if}
				<div class="form-group">
					<label class="col-sm-4 control-label">买家留言</label>
					<div class="col-sm-8 form-control-static">
						{$item['remark']}
					</div>
				</div>
			</div>
			<div class="wn-order__action">
				<form action="" class="form-horizontal form wn-form" method="post" enctype="multipart/form-data" onsubmit="return formcheck();">
					{if $store_type != STORE_TYPE_HOTEL && $item['mode_distribute'] == 2}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">常用快递公司</label>
						<div class="col-sm-9 col-xs-12">
							<select name="express_name" id="common_corp" class="form-control input-medium">
								<option value="">其他快递</option>
								{loop $express $value}
								<option value="{$value}" {if $value == $item['express_name']} selected="selected" {/if}>{$value}</option>
								{/loop}

							</select>
							<span class="help-block">如果您选择了常用快递，则客户可以订单中查询快递信息，如果缺少您想要的快递，您可以联系我们! </span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">物流单号</label>
						<div class="col-sm-9 col-xs-12 form-control-static">
							<input type="text" name="track_number" id="track_number" value="{$item['track_number']}" class="form-control">
						</div>
					</div>
					{/if}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">备注</label>
						<div class="col-sm-9 col-xs-12 form-control-static">
							<textarea style="height:100px;" class="form-control richtext-clone" name="msg" cols="70" id="reply-add-text">{$item['msg']}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">支付状态</label>
						<div class="col-sm-9 col-xs-12 form-control-static">
							{if $item['paystatus'] == 0}
								未支付
							{elseif $item['paystatus'] == 1}
								已支付
							{else}
								其他
							{/if}
						</div>
					</div>
					{if empty($good_info) || $good_info['is_house'] != 2}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">商品状态</label>
						<div class="col-sm-9 col-xs-12 form-control-static">
							{if $store_type == STORE_TYPE_HOTEL}
								{if !empty($good_info) && $good_info['is_house'] == 1}
									{if empty($item['goods_status']) || $item['goods_status'] == 4}
										待入住
									{elseif $item['goods_status'] == 5}
										已入住
									{/if}
								{/if}
							{else}
								{if empty($item['goods_status']) || $item['goods_status'] == 1}
									待发货
								{elseif $item['goods_status'] == 2}
									已发货
								{elseif $item['goods_status'] == 3}
									已收货
								{/if}
							{/if}
						</div>
					</div>
					{/if}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">操作</label>
						<div class="col-sm-9 col-xs-12 form-control-static">
							{if $item['status'] != 1 && $item['goods_status'] != 2 && $item['goods_status'] != 3 && $item['goods_status'] != 5 && $item['status'] != 3}
								{if $item['status'] != 2}
								<button type="button" class="btn but{if $item['status'] == -1} btn-primary{/if} btn-default" value="-1">订单取消</button>
								{/if}
								{if $item['status'] != -1}
								<button type="button" class="btn but{if $item['status'] == 2} btn-primary{/if} btn-default" value="2">订单拒绝</button>
								{/if}
								{if ($item['status'] == -1 || $item['status'] == 2) && $item['paystatus'] == 1}
									<button type="button" class="btn but btn-default" value="8">订单退款</button>
								{/if}
							{/if}
							{if $item['status'] != -1}
								{if $item['status'] <= 1}
									<button type="button" class="btn but{if $item['status'] == 1} btn-primary{/if} btn-default" value="1">订单确认</button>
								{/if}
								{if $item['status'] != 2}
									{if $store_type == STORE_TYPE_HOTEL}
										{if !empty($good_info) && $good_info['is_house'] == 1}
											<button type="button" class="btn but{if $item['goods_status'] == 5} btn-primary{/if} btn-default" value="5" >已入住</button>
										{/if}
									{else}
										{if $item['status'] != 3 && $item['mode_distribute'] == 2}
											{if $item['goods_status'] == 1}
												<button type="button" class="btn but btn-default" value="6">已发货</button>
											{elseif $item['goods_status'] == 2 || $item['goods_status'] == 3}
												<button type="button" class="btn but{if $item['goods_status'] == 3} btn-primary{/if} btn-default" value="7">已收货</button>
											{/if}
										{/if}
									{/if}
								{/if}
								{if $item['status'] != 2}
								<button type="button" class="btn but{if $item['status'] == 3} btn-primary{/if} btn-default"  value="3">订单完成</button>
								{/if}
							{/if}
							<input type="hidden" id="status" name="status" value="{$item['status']}">
						</div>
					</div>
					<div class="form-group col-sm-12">
						<input type="hidden" name="id" value="{$item['id']}">
						<input type="hidden" name="storeid" value="{$storeid}" />
						<input type="hidden" name="old_status" value="{$item['status']}" />
						<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
						<input type="hidden" name="token" value="{$_W['token']}" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function formcheck() {
		var ok = true;
		if ($("#status").val() == 1 && $("#oldstatus").val() != 1) {
			$("#room_list option").each(function() {
				var val = $(this).val().split("|");
				if (val[1] == 0) {
					alert(val[0] + "无房");
					ok =false;
					return false;
				} else {
					if (val[2] != '不限') {
						if (parseInt(val[2]) == 0) {
							alert(val[0] + "没有空房间");
							ok =false;
							return false;
						}
						if (parseInt(val[2]) > 0 && parseInt(val[2]) < {$item['nums']}) {
							alert(val[0] + "房间数量不够");
							ok =false;
							return false;
						}
					}
				}
			});
		}
		if ($("#status").val() == 5 || $("#status").val() == 6 || $("#status").val() == 7 || $("#status").val() == 8) {
			if (!confirm("请确认客户已支付过订单再做此操作！")){
				return false;
			}
		}
		return ok;
	}

	require(['bootstrap'],function($) {
		$('.but').click(function() {
			$('.but').removeClass('btn-primary');
			$(this).addClass('btn-primary');
			$('#status').val($(this).val()) ;
		});
	});
</script>
{template 'common/footer'}