{template 'header'}
<div class="page my-page" id="page-app-mine">
	{template 'nav'}
	<div class="content">
		<div class="banner">
			<div class="avatar">
				{if !empty($user['avatar'])}
					<img src="{php echo tomedia($user['avatar']);}" alt="">
				{else}
					<img src="{MODULE_URL}resource/app/img/head.png" alt="">
				{/if}
			</div>
			<div class="name">{$user['nickname']}</div>
		</div>
		<div class="table activity-nav">
			<div class="table-cell">
				<a href="javascript:;">
					<div class="count">0</div>
					<div class="">代金券</div>
				</a>
			</div>
			<div class="table-cell">
				<a href="{php echo $this->createMobileUrl('favorite');}">
					<div class="count">{$favorite}</div>
					<div class="">收藏店铺</div>
				</a>
			</div>
			<div class="table-cell">
				<a href="javascript:;">
					<div class="count">{php echo floatval($user['credit2'])}</div>
					<div class="">余额</div>
				</a>
			</div>
		</div>
		<div class="grid-nav">
			<div class="row no-gutter">
				<div class="col-25">
					<a href="{php echo $this->createMobileUrl('address');}" class="external">
						<img src="{MODULE_URL}resource/app/img/mypage_location.png" alt="" />
						<span>我的地址</span>
					</a>
				</div>
				<div class="col-25">
					<a href="{php echo $this->createMobileUrl('favorite');}">
						<img src="{MODULE_URL}resource/app/img/mypage_star.png" alt="" />
						<span>我的收藏</span>
					</a>
				</div>
				<div class="col-25">
					<a href="{php echo $this->createMobileUrl('comment');}">
						<img src="{MODULE_URL}resource/app/img/mypage_comment.png" alt="" />
						<span>我的评价</span>
					</a>
				</div>
				<div class="col-25">
					<a href="">
						<img src="{MODULE_URL}resource/app/img/mypage_refund.png" alt="" />
						<span>我的退款</span>
					</a>
				</div>
			</div>
		</div>
		<div class="service-tel">
			<a href="tel:{$_W['we7_wmall']['mobile']}" class="color-orange external">客服热线: {$_W['we7_wmall']['mobile']}</a>
		</div>
	</div>
</div>
{template 'common'}
{template 'footer'}