{template 'header'}
<div class="page home" id="page-app-search">
	<header class="bar bar-nav">
		<!--<a class="icon search pull-right"></a>-->
		<h1 class="title">
			<!--<span class="icon icon-map-marker"></span>-->
			门店列表
			<!--<span class="icon icon-caret-down"></span>-->
		</h1>
	</header>
	{template 'nav'}
	<div class="content">
		<div class="buttons-tab select-tab">
			<a href="javascript:;" class="button">{if !empty($categorys[$_GPC['cid']]['title'])}{$categorys[$_GPC['cid']]['title']}{else}商家分类{/if} <span class="fa"></span></a>
			<div class="drop-menu-list">
				<div class="list-block">
					<ul>
						<li><a class="list-button item-link" href="{php echo $this->createMobileUrl('search', array('cid' => 0, 'order' => $_GPC['order'], 'dis' => $_GPC['dis']));}">全部</a></li>
						{loop $categorys $row}
						<li>
							<a class="list-button item-link" href="{php echo $this->createMobileUrl('search', array('cid' => $row['id'], 'order' => $_GPC['order'], 'dis' => $_GPC['dis']));}">
								{$row['title']}
								{if $_GPC['cid'] == $row['id']}<i class="fa fa-selected"></i>{/if}
							</a>
						</li>
						{/loop}
					</ul>
				</div>
			</div>
			<a href="javascript:;" class="button">{if !empty($orderbys[$_GPC['order']]['title'])}{$orderbys[$_GPC['order']]['title']}{else}智能排序{/if} <span class="fa"></span></a>
			<div class="drop-menu-list">
				<div class="list-block">
					<ul>
						<li><a class="list-button item-link" href="{php echo $this->createMobileUrl('search', array('order' => '', 'cid' => $_GPC['cid'], 'dis' => $_GPC['dis']));}"><span class="icon"></span>全部</a></li>
						{loop $orderbys $row}
						<li>
							<a class="list-button item-link"  href="{php echo $this->createMobileUrl('search', array('order' => $row['key'], 'cid' => $_GPC['cid'], 'dis' => $_GPC['dis']));}">
								{$row['title']}
								{if $_GPC['order'] == $row['key']}<i class="fa fa-selected"></i>{/if}
							</a>
						</li>
						{/loop}
					</ul>
				</div>
			</div>
			<a href="javascript:;" class="button">{if !empty($discounts[$_GPC['dis']]['title'])}{$discounts[$_GPC['dis']]['title']}{else}优惠活动{/if} <span class="fa"></span></a>
			<div class="drop-menu-list">
				<div class="list-block">
					<ul>
						<li><a class="list-button item-link" href="{php echo $this->createMobileUrl('search', array('dis' => '', 'cid' => $_GPC['cid'], 'order' => $_GPC['order']));}"><span class="icon"></span>全部</a></li>
						{loop $discounts $row}
						<li>
							<a class="list-button item-link" href="{php echo $this->createMobileUrl('search', array('dis' => $row['key'], 'cid' => $_GPC['cid'], 'order' => $_GPC['order']));}">
								<span class="{$row['css']}"></span>
								{$row['title']}
								{if $_GPC['dis'] == $row['key']}<i class="fa fa-selected"></i>{/if}
							</a>
						</li>
						{/loop}
					</ul>
				</div>
			</div>
		</div>
		{if empty($stores)}
			<div class="common-no-con">
				<img src= "{MODULE_URL}resource/app/img/store_no_con.png" alt="" />
				<p>抱歉,没有符合条件的商户！</p>
			</div>
		{else}
			<ul class="store-list">
				{loop $stores $store}
					<li data-lat="{$store['location_x']}" data-lng="{$store['location_y']}">
						<a href="{php echo $this->createMobileUrl('goods', array('sid' => $store['id']));}" class="external">
							<div class="store-info row no-gutter">
								<div class="store-img col-25">
									<img src="{php echo tomedia($store['logo']);}" alt="{$store['title']}">
								</div>
								<div class="col-75">
									<div class="row no-gutter">
										<div class="col-60 text-ellipsis">{$store['title']}</div>
										<div class="col-40 money-info text-right">
											{if $store['token_status'] == 1}
											<span>券</span>
											{/if}
											{if $store['invoice_status'] == 1}
											<span>票</span>
											{/if}
											<span>付</span>
										</div>
									</div>
									<div class="rel-info">
										<div class="row no-gutter">
											<div class="col-60">
												{if $store['is_in_business_hours']}
												<div class="star-rank">
													<span class="star-rank-outline">
														<span class="star-rank-active" style="width:70%"></span>
														<!--<span class="star-rank-value">3.5</span>-->
													</span>
												</div>
												{else}
												<div class="order-status">
													<span class="badge bg-default">店铺休息中</span>
												</div>
												{/if}
											</div>
											<div class="col-40 text-right distance hide">距离4KM</div>
										</div>
										<div class="delivery-conditions">
											起送￥{$store['send_price']}<span class="pipe">|</span>配送￥{$store['delivery_price']}<span class="pipe">|</span>约{$store['delivery_time']}分钟
										</div>
									</div>
								</div>
							</div>
							<div class="dashed-line"></div>
							{if $store['activity']['first_order_status'] == 1}
							<div class="free">
								新用户在线支付
								{loop $store['activity']['first_order_data'] $first}
								满{$first['condition']}元减{$first['back']},
								{/loop}
							</div>
							{/if}
							{if $store['activity']['discount_status'] == 1}
							<div class="minus">
								在线支付
								{loop $store['activity']['discount_data'] $discount}
								满{$first['$discount']}元减{$discount['back']},
								{/loop}
							</div>
							{/if}
							{if $store['activity']['grant_status'] == 1}
							<div class="zeng">
								在线支付
								{loop $store['activity']['grant_data'] $grant}
								满{$grant['condition']}元赠{$grant['back']},
								{/loop}
							</div>
							{/if}
							{if !empty($store['hot_goods'])}
							<div class="dashed-line"></div>
							<div class="hot">
								热销:
								{loop $store['hot_goods'] $good}
								{$good['title']}
								{/loop}
							</div>
							{/if}
						</a>
					</li>
				{/loop}
			</ul>
		{/if}
	</div>
</div>
<script>
	$(function(){
		$(document).on('click', '.home .select-tab a.button', function(){
			var flag = false;
			if($(this).hasClass('button-active')) {
				flag = true;
			}
			$('.home .select-tab a.button').removeClass('button-active');
			$('.home .drop-menu-list').hide();
			if(!flag) {
				$(this).addClass('button-active');
				$(this).next('.drop-menu-list').show();
			}
		});

	});
</script>
{template 'common'}
{template 'footer'}